* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.container {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  background-color: red;
}

.slider {
  height: 100%;
  position: relative;
}

.imageCont {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:first-child {
  object-position: 0px -350px;
}

img:nth-child(2) {
  object-position: 0px -350px;
}

.hide {
  display: none;
}

.btn {
  position: absolute;
  background-color: white;
  color: black;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  left: 50%;
  transform: translate(-50%);
}

.btn.up {
  top: 10px;
}

.btn.down {
  bottom: 10px;
}
